<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:if="${list} != null">
    <table>
        <thead>
        <tr align="left">
            <th width="40px">Platenumber</th>
            <th width="40px">Brand</th>
            <th width="40px">Model</th>
            <th width="40px">Color</th>
            <th width="40px">Year</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${list}">
            <td th:text="${car.plate}"></td>
            <td>
                <a th:href="@{/licenceplates/search/{brand}/(brand=${car.carBrand})}" th:text="${car.carBrand}"></a>
            </td>
            <td th:text="${car.carModel}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.year}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>